flows/EU_Caller_Identity_Verification.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Builds the identity verification context using information passed into the flow and stores the result in the VerificationContext variable.</description>
        <name>Build_Identity_Verification_Context</name>
        <label>Build Identity Verification Context</label>
        <locationX>586</locationX>
        <locationY>1445</locationY>
        <actionName>buildIdentityVerification</actionName>
        <actionType>buildIdentityVerification</actionType>
        <connector>
            <targetReference>SearchForCustomers</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Build_Identity_Verification_Context_Fault_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionName</name>
            <value>
                <elementReference>IdVerfProcessDefinition</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectName</name>
            <value>
                <elementReference>CallerObjectName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>selectedRecordId</name>
            <value>
                <elementReference>CallerRecordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>VerificationContext</assignToReference>
            <name>verificationContext</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Builds the Selected identity verification context using information passed into the flow and stores the result in the SelectedPrimaryVerificationContext variable.</description>
        <name>Build_Selected_Build_Identity_Verification_Context</name>
        <label>Build Selected Build Identity Verification Context</label>
        <locationX>380</locationX>
        <locationY>1508</locationY>
        <actionName>buildIdentityVerification</actionName>
        <actionType>buildIdentityVerification</actionType>
        <connector>
            <targetReference>QueryVerificationData</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Build_Identity_Verification_Context_Fault</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionName</name>
            <value>
                <elementReference>IdVerfProcessDefinition</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDetailName</name>
            <value>
                <elementReference>IdVerfProcessDetail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectName</name>
            <value>
                <elementReference>CallerObjectName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>selectedRecordId</name>
            <value>
                <elementReference>CallerRecordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>SelectedPrimaryVerificationContext</assignToReference>
            <name>verificationContext</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Queries Salesforce for verification data and adds it to the verification context.</description>
        <name>QueryVerificationData</name>
        <label>Query Verification Data</label>
        <locationX>380</locationX>
        <locationY>1628</locationY>
        <actionName>getVerificationData</actionName>
        <actionType>getVerificationData</actionType>
        <connector>
            <targetReference>CallerVerification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>verificationContext</name>
            <value>
                <elementReference>SelectedPrimaryVerificationContext</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>SelectedPrimaryVerificationContext</assignToReference>
            <name>verificationContext</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <description>Assign the caller details</description>
        <name>Assign_Caller_Details</name>
        <label>Assign Caller Details</label>
        <locationX>380</locationX>
        <locationY>1388</locationY>
        <assignmentItems>
            <assignToReference>CallerRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EngagementInteraction.InitiatingAttendeeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Selected_Build_Identity_Verification_Context</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_current_label</name>
        <label>Assign current label</label>
        <locationX>534</locationX>
        <locationY>3164</locationY>
        <assignmentItems>
            <assignToReference>CurrentLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Verified_detail.label</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Current_Verified_detail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Get process detail list from SelectedPrimaryVerification context and assign to processdetaillist variable.</description>
        <name>assign_process_detail_list</name>
        <label>Assign process detail list</label>
        <locationX>443</locationX>
        <locationY>2426</locationY>
        <assignmentItems>
            <assignToReference>ProcessDetailList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedPrimaryVerificationContext.processDefinition.processDetail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Current_Process_Detail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Verified_details_list</name>
        <label>Assign Verified details list</label>
        <locationX>446</locationX>
        <locationY>2924</locationY>
        <assignmentItems>
            <assignToReference>VerifiedDetailsList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedVerifiedResult.verifiedDetails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Current_Verified_detail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Pick linkedProcessDetailName from process detail list and assign to variable.</description>
        <name>linked_process_detail_assignment</name>
        <label>linked process detail assignment</label>
        <locationX>534</locationX>
        <locationY>2708</locationY>
        <assignmentItems>
            <assignToReference>LinkedProcessDetailName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Process_Detail.linkedVerificationProcessDetailName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Current_Process_Detail</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Stores the label to use for caller in the ExistingCustomerOptions radio button group.</description>
        <name>AnExistingCustomer</name>
        <choiceText>{!$Label.sfiEnergyConsoleYes}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Caller</stringValue>
        </value>
    </choices>
    <choices>
        <description>Stores the label to use for on behalf in the ExistingCustomerOptions radio button group.</description>
        <name>NotAnExistingCustomer</name>
        <choiceText>{!$Label.sfiEnergyConsoleNo}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Someone Else</stringValue>
        </value>
    </choices>
    <constants>
        <description>Stores the name of the Identity Verification Process Definition record. Customize the SampleVerifiationFlow definition, create your own definition and enter its name in place of SampleVerificationFlow.</description>
        <name>IdVerfProcessDefinition</name>
        <dataType>String</dataType>
        <value>
            <stringValue>EU_Process_Definition</stringValue>
        </value>
    </constants>
    <constants>
        <name>IdVerfProcessDetail</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Search_Account_Contact_or_Address</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Existing_Customer</name>
        <label>Existing Customer?</label>
        <locationX>650</locationX>
        <locationY>1250</locationY>
        <defaultConnector>
            <targetReference>Stat_a_New_Service</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Customer Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Customer_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingCustomerOptions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AnExistingCustomer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Build_Identity_Verification_Context</targetReference>
            </connector>
            <label>Customer Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Engagement_Interaction_ID_either_empty_or_null</name>
        <label>Is Engagement Interaction ID either empty or null?</label>
        <locationX>1022</locationX>
        <locationY>429</locationY>
        <defaultConnector>
            <targetReference>No_Record_Found_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Engagement_Record</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the caller was identified based on the information passed into the flow.</description>
        <name>WasCallerIdentified</name>
        <label>Caller Identified?</label>
        <locationX>654</locationX>
        <locationY>903</locationY>
        <defaultConnector>
            <targetReference>Are_you_an_existing_customer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Identified</defaultConnectorLabel>
        <rules>
            <name>IsIdentified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EngagementInteraction.InitiatingAttendeeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EngagementInteraction.IsAttendeeVerified</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_the_Caller_Object_Name</targetReference>
            </connector>
            <label>Identified</label>
        </rules>
        <rules>
            <name>Verified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EngagementInteraction.InitiatingAttendeeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EngagementInteraction.IsAttendeeVerified</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IDV_Flow_Completion_Screen_Primary_0_0</targetReference>
            </connector>
            <label>Verified</label>
        </rules>
    </decisions>
    <decisions>
        <description>Indicates whether the caller’s identity was verified.</description>
        <name>WasVerificationSuccessful</name>
        <label>Was Verification Successful?</label>
        <locationX>636</locationX>
        <locationY>2110</locationY>
        <defaultConnector>
            <targetReference>VerificationFailed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Failed</defaultConnectorLabel>
        <rules>
            <name>WasSuccessful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VerificationStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Engagement_Record</targetReference>
            </connector>
            <label>Successful</label>
        </rules>
    </decisions>
    <description>Authenticates the identity of a caller before their request can be processed by a contact center agent (CCA).</description>
    <environments>Default</environments>
    <interviewLabel>Caller Identity Verification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Caller Identity Verification</label>
    <loops>
        <description>Loop through process detail list.</description>
        <name>Current_Process_Detail</name>
        <label>Current Process Detail</label>
        <locationX>446</locationX>
        <locationY>2588</locationY>
        <collectionReference>ProcessDetailList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>linked_process_detail_assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Verified_details_list</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Current_Verified_detail</name>
        <label>Current Verified detail</label>
        <locationX>446</locationX>
        <locationY>3044</locationY>
        <collectionReference>VerifiedDetailsList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_current_label</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Engagement_Attendee</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account_Name</name>
        <label>Get Account Name</label>
        <locationX>1150</locationX>
        <locationY>1600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Engagement_Record_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>CurrentLabel</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Engagement_Record</name>
        <label>Get Engagement Record</label>
        <locationX>662</locationX>
        <locationY>642</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WasCallerIdentified</targetReference>
        </connector>
        <faultConnector>
            <targetReference>No_Record_Found</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <object>EngagementInteraction</object>
        <outputReference>EngagementInteraction</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>InitiatingAttendeeId</queriedFields>
        <queriedFields>IsAttendeeVerified</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_the_Caller_Object_Name</name>
        <label>Get the Caller Object Name</label>
        <locationX>380</locationX>
        <locationY>1273</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Caller_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdVerfProcessDetail</elementReference>
            </value>
        </filters>
        <object>IdentityVerificationProcDtl</object>
        <outputAssignments>
            <assignToReference>CallerObjectName</assignToReference>
            <field>ObjectName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_the_Caller_Object_Name_0</name>
        <label>Get the Caller Object Name</label>
        <locationX>1155</locationX>
        <locationY>1414</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdVerfProcessDetail</elementReference>
            </value>
        </filters>
        <object>IdentityVerificationProcDtl</object>
        <outputAssignments>
            <assignToReference>CallerObjectName</assignToReference>
            <field>ObjectName</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Update Engagement Attendee with InternalAttendeeId</description>
        <name>Update_Engagement_Attendee</name>
        <label>Update Engagement Attendee</label>
        <locationX>578</locationX>
        <locationY>3500</locationY>
        <connector>
            <targetReference>IDV_Flow_Completion_Screen_Primary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EngagementId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EngagementInteraction.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ExternalAttendeeId</field>
            <value>
                <elementReference>SelectedPrimaryVerificationContext.selectedSearchResult.selectedRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>EngagementAttendee</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Engagement Attendee with InternalAttendeeId</description>
        <name>Update_Engagement_Attendee_0</name>
        <label>Update Engagement Attendee</label>
        <locationX>1156</locationX>
        <locationY>1965</locationY>
        <connector>
            <targetReference>IDV_Flow_Completion_Screen_Primary_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EngagementId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EngagementInteraction.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ExternalAttendeeId</field>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputAssignments>
        <object>EngagementAttendee</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Engagement Interaction record with isAttendeeVerified as True and set the initiatingAttendeeId value to the selectedRecordId.</description>
        <name>Update_Engagement_Record</name>
        <label>Update Engagement Record</label>
        <locationX>515</locationX>
        <locationY>2258</locationY>
        <connector>
            <targetReference>assign_process_detail_list</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EngagementInteraction.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AttendeeVerificationTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InitiatingAttendeeId</field>
            <value>
                <elementReference>SelectedPrimaryVerificationContext.selectedSearchResult.selectedRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsAttendeeVerified</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>EngagementInteraction</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Engagement Interaction record with isAttendeeVerified as True and set the initiatingAttendeeId value to the selectedRecordId.</description>
        <name>Update_Engagement_Record_0</name>
        <label>Update Engagement Record</label>
        <locationX>1155</locationX>
        <locationY>1739</locationY>
        <connector>
            <targetReference>Update_Engagement_Attendee_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EngagementInteraction.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AttendeeVerificationTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InitiatingAttendeeId</field>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsAttendeeVerified</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>EngagementInteraction</object>
    </recordUpdates>
    <screens>
        <description>Allows the user to select the person the call is about.</description>
        <name>Are_you_an_existing_customer</name>
        <label>Are you an existing customer?</label>
        <locationX>658</locationX>
        <locationY>1052</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Existing_Customer</targetReference>
        </connector>
        <fields>
            <name>ExistingCustomerOptions</name>
            <choiceReferences>AnExistingCustomer</choiceReferences>
            <choiceReferences>NotAnExistingCustomer</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!ExistingCustomerLabel}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Displays a message to the user containing the fault occurred in Build Identity Verification Context Action</description>
        <name>Build_Identity_Verification_Context_Fault</name>
        <label>Build Identity Verification Context Fault</label>
        <locationX>588</locationX>
        <locationY>1620</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>BuildVerificationContextFault_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px; color: rgb(0, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Displays a message to the user containing the fault occurred in Build Identity Verification Context Action</description>
        <name>Build_Identity_Verification_Context_Fault_0</name>
        <label>Build Identity Verification Context Fault</label>
        <locationX>705</locationX>
        <locationY>1668</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>BuildVerificationContextFault</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 20px;&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Tells the CCA what information must be verified for this caller.</description>
        <name>CallerVerification</name>
        <label>Caller Verification</label>
        <locationX>557</locationX>
        <locationY>1953</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>WasVerificationSuccessful</targetReference>
        </connector>
        <fields>
            <name>CallerIdentityVerification</name>
            <extensionName>industries_common:identityVerification</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disableAction</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionalVerifiersSubtitleLabel</name>
                <value>
                    <elementReference>$Label.vlocity_cmt__SfiEnergyConsoleIDVOptionalVerifiersUserInstruction</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionalVerifiersTitleLabel</name>
                <value>
                    <elementReference>$Label.vlocity_cmt__SfiEnergyConsoleIDVOptionalVerifiersHeading</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subtitleLabel</name>
                <value>
                    <elementReference>$Label.vlocity_cmt__SfiEnergyConsoleIDVRequiredVerifiersUserInstruction</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleLabel</name>
                <value>
                    <elementReference>$Label.vlocity_cmt__SfiEnergyConsoleIDVRequiredVerifiersHeading</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>verificationStatus</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>verificationContext</name>
                <value>
                    <elementReference>SelectedPrimaryVerificationContext</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>VerificationStatus</assignToReference>
                <name>verificationStatus</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SelectedPrimaryVerificationContext</assignToReference>
                <name>verificationContext</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SelectedVerifiedResult</assignToReference>
                <name>selectedVerifiedResult</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>IDV_Flow_Completion_Screen_Primary</name>
        <label>IDV Flow Completion</label>
        <locationX>578</locationX>
        <locationY>3620</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>idv_flow_completion_Primary</name>
            <extensionName>industries_common:idvFlowCompletion</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageFooter</name>
                <value>
                    <stringValue>{!CurrentLabel}{!$Label.vlocity_cmt__SfiEnergyConsoleIDVSecondaryMessage}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <elementReference>SelectedPrimaryVerificationContext.selectedSearchResult.objectName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>SelectedPrimaryVerificationContext.selectedSearchResult.selectedRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>enableNavigation</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>IDV_Flow_Completion_Screen_Primary_0</name>
        <label>IDV Flow Completion</label>
        <locationX>1157</locationX>
        <locationY>2195</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>idv_flow_completion_Primary_0</name>
            <extensionName>industries_common:idvFlowCompletion</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageFooter</name>
                <value>
                    <stringValue>{!CurrentLabel}{!$Label.vlocity_cmt__SfiEnergyConsoleIDVSecondaryMessage}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <elementReference>CallerObjectName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>accountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>enableNavigation</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>IDV_Flow_Completion_Screen_Primary_0_0</name>
        <label>IDV Flow Completion</label>
        <locationX>823</locationX>
        <locationY>1138</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>idv_flow_completion_Primary_0_0</name>
            <extensionName>industries_common:idvFlowCompletion</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageFooter</name>
                <value>
                    <elementReference>$Label.vlocity_cmt__SfiEnergyConsoleIDVCustomerVerified</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>enableNavigation</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Displays a message to the user indicating that the caller’s identity wasn’t verified.</description>
        <name>No_Record_Found</name>
        <label>No Record Found</label>
        <locationX>1187</locationX>
        <locationY>941</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoRecordFoundToDisplay</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 20px; background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.vlocity_cmt__SfiEnergyConsoleIDVNoRecords}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Displays a message to the user indicating that the caller’s identity wasn’t verified.</description>
        <name>No_Record_Found_0</name>
        <label>No Record Found</label>
        <locationX>1366</locationX>
        <locationY>679</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoRecordFoundToDisplay_0</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px; color: rgb(0, 0, 0);&quot;&gt;{!$Label.vlocity_cmt__SfiEnergyConsoleIDVNoRecords}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Search_Results</name>
        <label>Search Results</label>
        <locationX>817</locationX>
        <locationY>1622</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CallerVerification</targetReference>
        </connector>
        <fields>
            <name>GetSearchResults</name>
            <extensionName>industries_common:idvSearchResults</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>searchFilter</name>
                <value>
                    <elementReference>SearchFilter</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>searchTerm</name>
                <value>
                    <elementReference>SearchTerm</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>verificationContext</name>
                <value>
                    <elementReference>SelectedPrimaryVerificationContext</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedPrimaryVerificationContext</assignToReference>
                <name>verificationContext</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Displays the Search screen component that allows a CCA to search for a user in the system.</description>
        <name>SearchForCustomers</name>
        <label>Search Customers</label>
        <locationX>907</locationX>
        <locationY>1445</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Search_Results</targetReference>
        </connector>
        <fields>
            <name>SearchCustomer</name>
            <extensionName>industries_common:idvSearch</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>verificationContext</name>
                <value>
                    <elementReference>VerificationContext</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SearchTerm</assignToReference>
                <name>searchTerm</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SearchFilter</assignToReference>
                <name>searchFilter</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SelectedPrimaryVerificationContext</assignToReference>
                <name>selectedVerificationContext</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Stat_a_New_Service</name>
        <label>Stat a New Service</label>
        <locationX>1155</locationX>
        <locationY>1249</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_the_Caller_Object_Name_0</targetReference>
        </connector>
        <fields>
            <name>IDV_MoveIn</name>
            <extensionName>c:cfSfiEnergyConsoleMoveInIDV</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AutoAdvance</name>
            <extensionName>vlocity_cmt:sfiEnergyConsoleFlowInteraction</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>accountId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>accountId</assignToReference>
                <name>accountId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Displays a message to the user indicating that the caller’s identity wasn’t verified.</description>
        <name>VerificationFailed</name>
        <label>Verification Failed</label>
        <locationX>842</locationX>
        <locationY>2228</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>VerificationFailedDisplayText</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;{!$Label.vlocity_cmt__SfiEnergyConsoleIDVVerificationFailedMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>setup_se__idv</sourceTemplate>
    <start>
        <locationX>904</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Is_Engagement_Interaction_ID_either_empty_or_null</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Variable used to Hold Id of newly created Account</description>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the API name of the caller&apos;s object.</description>
        <name>CallerObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record ID of the caller.</description>
        <name>CallerRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the engagement identity details</description>
        <name>EngagementInteraction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>EngagementInteraction</objectType>
    </variables>
    <variables>
        <description>Stores the value for the ExistingCustomerOptions radio button group screen component.</description>
        <name>ExistingCustomerLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Label.vlocity_cmt__SfiEnergyConsoleIDVExistingCustomer</elementReference>
        </value>
    </variables>
    <variables>
        <name>LinkedProcessDetailName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Agent</stringValue>
        </value>
    </variables>
    <variables>
        <name>ProcessDetailList</name>
        <apexClass>id_verification__ProcessDetail</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SearchFilter</name>
        <apexClass>id_verification__SearchFilters</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SearchTerm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SecondaryVerificationContext</name>
        <apexClass>id_verification__VerificationContext</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SecondaryVerificationStatus</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>It holds selected Detail for a given Definition</description>
        <name>SelectedPrimaryVerificationContext</name>
        <apexClass>id_verification__VerificationContext</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedVerifiedResult</name>
        <apexClass>id_verification__SelectedVerifiedResult</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the identity verification context for the caller using the specified identity verification process definition.</description>
        <name>VerificationContext</name>
        <apexClass>id_verification__VerificationContext</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the status of the verification.</description>
        <name>VerificationStatus</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>VerifiedDetailsList</name>
        <apexClass>id_verification__VerifiedDetails</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
